{# Dywee\NewsBundle\Resources\View\News\table.html.twig #}

{%  extends "DyweeNewsBundle::admin.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">

            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="box-tools">
                        <a href="{{ path('news_add') }}" class="btn btn-success btn-box-tool"><i class="fa fa-plus"></i> Ajouter</a>
                    </div>
                    <h2 class="box-title">Liste des News</h2>
                </div>
                {% include 'DyweeNewsBundle:News:miniTable.html.twig' %}
                <div class="box-body">
                    <p><a href="{{ path('news_add') }}" class="btn btn-default btn-block"><i class="fa fa-pencil"></i> Ecrire une news</a></p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}